## 新增 SQLite 資料

In [5]:
import sqlite3
conn = sqlite3.connect("/app/db/std.db")
print("請輸入資料庫students表單資料")
while True:
    new_id = float(input("請輸入id: "))
    new_name = input("請輸入name: ")
    new_gender = input("請輸入gender: ")
    x = (new_id, new_name, new_gender)
    sql = '''insert into students values(?,?,?)'''
    conn.execute(sql,x)
    conn.commit()
    again = input("繼續(y/n)")
    if again[0].lower() == "n":
        break

請輸入資料庫students表單資料

## 查詢 SQLite 資料

In [6]:
import sqlite3
conn = sqlite3.connect("/app/db/std.db")
results = conn.execute("SELECT * FROM students")
for record in results:
    print(f"id = {record[0]}")
    print(f"name = {record[1]}")
    print(f"gender = {record[2]}")

id = 1
name = tom
gender = M
id = 2
name = marry
gender = S
id = 3
name = dora
gender = S
id = 4
name = ryan
gender = M

## 以字組元素方式查詢 SQLite 資料

In [7]:
import sqlite3
conn = sqlite3.connect("/app/db/std.db")
results = conn.execute("SELECT * FROM students")
allstudent = results.fetchall()
for student in allstudent:
    print(student)
conn.close

(1, 'tom', 'M')
(2, 'marry', 'S')
(3, 'dora', 'S')
(4, 'ryan', 'M')

## 查詢 SQLite 資料(續)

- 列出name欄位內容
- 查詢所有女生的記錄

In [13]:
import sqlite3
conn = sqlite3.connect("/app/db/std.db")
results = conn.execute("SELECT name FROM students WHERE gender like 'S'")
allstudent = results.fetchall()
for student in allstudent:
    print(student)
conn.close

('marry',)
('dora',)